.logoContainer {
    text-align: center;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.outletContainer {
    max-width: 1080px;
    margin: 0 auto;
}

.navbarContainer {
    text-align: center;
    margin: 20px;
}

.navbarButton {
    margin: 10px;
    border-radius: 5px;
    background-color: #315786;
    padding: 10px;
    /*border: 2px solid;*/
    border: none;
    color: white;
    text-decoration: none;
}

.navbarButton:hover {
    background-color: #475e84;
}

.active {
    background-color: #0d3e7d;
}