.button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    /*background-color: #007bff;*/
    background: linear-gradient(45deg, #ff9100, #00ff33);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.button:hover {
    background: linear-gradient(90deg, #a45e01, #01a221);
}

.plusSign {
    background: linear-gradient(90deg, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}